*{
    margin:0;
    font-family:Arial;
    border:border-box;
}

.navbar{
    height:60px;
    background-color:#0F1111;
    color: white;
}

.nav-logo{
    height: 50px;
    width: 113px;

}

.logo{
    background-image: url(img/Amazon_logo.png);
    background-size:cover;
    height: 50px;
    width: 113px; 
}

.border{
    border: 2px solid transparent ;
}
.border:hover{
    border: 2px solid white;
}